<h1 mat-dialog-title>Editar Foto de Perfil</h1>
<h3>{{ data }}</h3>
<!-- <h3 mat-dialog-title>ID Curso: {{ data }}</h3> -->
<img
  [src]="data.fotoperfil"
  class="avatar"
  alt="Foto de Perfil"
  *ngIf="isLoadImage; else ImageFound"
/>
<ng-template #ImageFound>
  <img [src]="newfotoperfil" alt="ImageUploadnew" class="avatar" />
</ng-template>
<div>
  <div class="mb-3">
    <label for="formFile" class="form-label">Foto de Perfil</label>
    <input
      class="form-control"
      type="file"
      id="file"
      (change)="handleFileInput($event)"
    />
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
    Modificar
  </button>
</div>
