.size-icon {
  font-size: 25px;
  align-items: center;
}

/* mat-dialog-content {
  width: 1000px;
} */

.width-card {
  width: 60rem !important;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
