<!--EDUCACIÓN-->
<section class="card m-2 p-4">
  <div class="d-flex justify-content-center my-2" id="education">
    <h2><span>Educación</span></h2>
  </div>
  <mat-divider></mat-divider>
  <!--Botón Nueva Educación-->
  <div class="outerDiv mb-2">
    <!--Botón Nuevo-->
    <button
      *ngIf="authService.isAdmin"
      type="button"
      class="btn btn-primary save"
      (click)="openDialogNuevo()"
    >
      Nueva Educación
    </button>
  </div>
  <!--Entrada-->
  <div
    class="d-flex justify-content-center mb-2"
    *ngFor="let educ of educacion$ | async"
  >
    <img
      [src]="educ.linkimagen"
      alt="linkimagen"
      style="width: 10rem; height: auto"
      class="align-self-start"
    />
    <div class="mx-3 header-s width-card">
      <h2>
        <span>{{ educ.institucion }}</span>
      </h2>
      <p class="my-0">{{ educ.instituto }}</p>
      <p class="text-secondary">
        {{ educ.fechaInicio | date: "dd/MM/yyyy" }} -
        {{ educ.fechaFin | date: "dd/MM/yyyy" }}
      </p>
      <p class="my-0">Porcentaje: {{ educ.porcentaje_carrera }} %</p>
      <hr />
    </div>
    <div>
      <button
        type="button"
        class="btn size-icon"
        (click)="openDialogEditar(educ)"
      >
        <i class="bi bi-pencil-square iconos"></i>
      </button>
      <button
        type="button"
        class="btn size-icon"
        (click)="openDialogBorrar(educ)"
      >
        <i class="bi bi-trash3 iconos"></i>
      </button>
    </div>
  </div>
</section>
