<!--SKILLS-->
<!-- <section class="card m-2 p-4">
  <div class="d-flex justify-content-between my-2" id="skills">
    <h3>Hard Skills & Soft Skills</h3>
  </div>
  <div>
    <ul *ngFor="let hab of miHabilidad">
      <p>{{ hab.habilidad }}</p>
    </ul>
  </div>
</section> -->

<!-- ======= SECCION DE HABILIDADES ======= -->
<!-- <section id="skills" class="skills section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Skills</h2>
      <p>
        A continuacion, se muestran todas las tecnologias que manejo y su
        porcentaje de conocimiento y dominio.
      </p>
    </div>

    <div class="row skills-content">
      <div
        class="col-lg-6"
        data-aos="fade-up"
        *ngFor="let skill of sSkill.skills"
      >
        <div class="progress">
          <span class="skill"
            >{{ skill.name }}
            <progress-bar
              [progress]="skill.percent"
              [color-degraded]="{
                '0': '#a8c0ff',
                '15': '#5235d6',
                '25': '#3f2b96'
              }"
            ></progress-bar
          ></span>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="card m-2 p-4">
  <div class="d-flex justify-content-center" id="habilidad">
    <h1 class="header-s">Habilidades</h1>
  </div>
  <div class>
    <ul *ngFor="let hab of miHabilidad">
      <div class="container margin-y">
        <div>
          <h2>{{ hab.habilidad }}</h2>
        </div>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated massive-font"
            role="progressbar"
            attr.aria-valuenow="{{ hab.porcentaje_habilidad }}"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{ width: hab.porcentaje_habilidad + '%' }"
          >
            {{ hab.porcentaje_habilidad }}%
          </div>
        </div>
      </div>
    </ul>
  </div>
</section>
