.massive-font {
  font-size: 25px;
}
.progress {
  height: 35px;
}
.margin-y {
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.size-icon {
  font-size: 30px;
  align-items: top;
}

.outerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.save {
  align-self: flex-end;
  background-color: #0d47a1;
}
