<mat-toolbar color="primary">
  <div>
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
  </div>

  <div>
    <a href="https://argentinaprograma.inti.gob.ar/"
      ><img class="image" src="../../../assets/APLogo-20-20.png"
    /></a>
    <span>ARGENTINA PROGRAMA - #YO PROGRAMO</span>
  </div>
  <span class="spacer"></span>
  <div class="redes face">
    <a href="https://www.facebook.com/gerardoromerouro" target="_blank"
      ><i class="bi bi-facebook color-redes"></i
    ></a>
  </div>

  <!--   <div class="redes insta">
    <a href="https://www.instagram.com/" target="_blank"
      ><i class="bi bi-instagram color-redes"></i
    ></a>
  </div> -->

  <div class="redes lk">
    <a href="https://www.github.com/jgromerou/" target="_blank"
      ><i class="bi bi-github color-redes"></i
    ></a>
  </div>
  <!-- <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <a
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    href="#projects"
  >
    <mat-icon>share</mat-icon>
  </a> -->

  <!-- <a mat-button [routerLink]="login">Mi perfil</a> -->
  <button mat-button *ngIf="!authService.isLoggedIn" (click)="irLogin()">
    Login
  </button>
  <button mat-button *ngIf="authService.isLoggedIn" (click)="logout()">
    Cerrar Sesion
  </button>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav="matSidenav" fxLayout="column" closed="true">
    <div fxLayout="column">
      <!-- BOTÓN DE  PUBLIC PROFILE-->
      <a
        *ngIf="authService.isLoggedIn"
        mat-button
        class="menu-button"
        href="#profile"
      >
        <mat-icon>account_circle</mat-icon>
        <span>homepage</span>
      </a>
      <!-- BOTÓN DE ADMIN PROFILE-->
      <a
        *ngIf="authService.isLoggedIn"
        mat-button
        class="menu-button"
        href="/admin#profile-admin"
      >
        <mat-icon>account_circle</mat-icon>
        <span>homepage-admin</span>
      </a>
      <mat-divider></mat-divider>
      <div fxLayout="column">
        <!-- BOTÓN DE PUBLIC PROYECTOS-->
        <a
          *ngIf="!authService.isLoggedIn"
          mat-button
          class="menu-button"
          aria-label="Icono de proyecto"
          href="#proyectos"
        >
          <mat-icon>menu_book</mat-icon><span>Proyectos</span>
        </a>
      </div>
      <!-- BOTÓN DE ADMIN PROYECTOS-->
      <a
        *ngIf="!authService.isLoggedIn"
        mat-button
        class="menu-button"
        aria-label="Icono de proyecto"
        href="/admin#proyectos-admin"
      >
        <mat-icon>menu_book</mat-icon>
        <span>proyectos-admin</span>
      </a>

      <mat-divider></mat-divider>
      <!-- BOTÓN DE PUBLIC HABILIDADES-->
      <div fxLayout="column">
        <a
          *ngIf="!authService.isLoggedIn"
          mat-button
          class="menu-button"
          aria-label="Icono de habilidades"
          href="#habilidad"
        >
          <mat-icon>align_horizontal_left</mat-icon><span>Habilidades</span>
        </a>
        <!-- BOTÓN DE ADMIN HABILIDADES-->
        <a
          *ngIf="!authService.isLoggedIn"
          mat-button
          class="menu-button"
          aria-label="Icono de habilidades"
          href="/admin#habilidad-admin"
        >
          <mat-icon>align_horizontal_left</mat-icon>
          <span>habilidades-admin</span>
        </a>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="column">
        <!-- BOTÓN DE PUBLIC EDUCACION-->
        <a
          *ngIf="!authService.isLoggedIn"
          mat-button
          class="menu-button"
          aria-label="Icono de Educacion"
          href="#educacion"
        >
          <mat-icon>school</mat-icon><span>Educacion</span>
        </a>
        <!-- BOTÓN DE ADMIN EDUCACION-->
        <a
          *ngIf="!authService.isLoggedIn"
          mat-button
          class="menu-button"
          aria-label="Icono de Educacion"
          href="/admin#educacion-admin"
        >
          <mat-icon>school</mat-icon>
          <span>educacion-admin</span>
        </a>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="column">
        <!-- BOTÓN DE PUBLIC Experiencias Laborales-->
        <a
          *ngIf="!authService.isLoggedIn"
          mat-button
          class="menu-button"
          aria-label="Icono de Exp Laboral"
          href="#explaborales"
        >
          <mat-icon>school</mat-icon><span>Experiencias Laborales</span>
        </a>
        <!-- BOTÓN DE ADMIN EXPERIENCIAS LABORALES-->
        <a
          *ngIf="!authService.isLoggedIn"
          mat-button
          class="menu-button"
          aria-label="Icono de explaborales"
          href="/admin#explaborales-admin"
        >
          <mat-icon>school</mat-icon>
          <span>explaborales-admin</span>
        </a>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
