<div>
  <app-profile-admin class="position" id="profile-admin"> </app-profile-admin>
  <app-proyecto-admin class="center" id="proyectos-admin"> </app-proyecto-admin>
  <app-habilidad-admin
    class="center"
    id="habilidad-admin"
  ></app-habilidad-admin>
  <app-educacion-admin
    class="center"
    id="educacion-admin"
  ></app-educacion-admin>
  <app-explaborales-admin
    class="center"
    id="explaborales-admin"
  ></app-explaborales-admin>
  <app-terminal class="center"></app-terminal>
  <app-footer class="center"></app-footer>
</div>
