<!--PROYECTOS-->
<div class="container">
  <h1 class="header-s">PROYECTOS</h1>
  <div class="grid">
    <mat-card class="grid-item-anim" *ngFor="let proy of proyectos$ | async">
      <mat-card-header>
        <!-- <div mat-card-avatar></div> -->
        <mat-card-title>{{ proy.proyecto }}</mat-card-title>
        <mat-card-subtitle>{{ proy.tecnologia }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="center d-flex justify-content-center">
        <div>
          <!--Icono Editar-->
          <button
            type="button"
            class="btn size-icon"
            (click)="openDialogEditar(proy)"
          >
            <i class="bi bi-pencil-square iconos"></i>
          </button>
        </div>
        <!--Icono Eliminar-->
        <div>
          <button
            type="button"
            class="btn size-icon"
            (click)="openDialogBorrar(proy)"
          >
            <i class="bi bi-trash3 iconos"></i>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
