<div>
  <app-profile class="center" id="profile"> </app-profile>
  <app-educacion class="center" id="educacion"></app-educacion>
  <app-proyectos class="center" id="proyectos"> </app-proyectos>
  <app-explaborales class="center" id="explaborales"></app-explaborales>
  <app-habilidad class="center" id="habilidad"></app-habilidad>
  <app-proyectos-github
    class="center"
    id="proyectos-github"
  ></app-proyectos-github>
  <app-terminal class="center"></app-terminal>
  <app-footer class="center"></app-footer>
</div>
