<div class="center pos">
  <div class="background" *ngIf="profile">
    <mat-card class="bio">
      <img [src]="foto_perfil" class="avatar" />

      <mat-card-header>
        <mat-card-title>{{
          profile.nombres + " " + profile.apellidos
        }}</mat-card-title>
      </mat-card-header>

      <h3>Telefono: {{ profile.telefono }}</h3>
      <h3>Estado Civil: {{ profile.estadocivil }}</h3>
      <h3>Contactame a {{ profile.email }}</h3>
      <h3>
        Lugar de Residencia: {{ profile.domicilio }}, {{ profile.nacionalidad }}
      </h3>

      <mat-divider></mat-divider>

      <h3>
        Fecha de Nacimiento:
        <strong>{{ profile.fechanacimiento }}</strong>
      </h3>

      <mat-divider></mat-divider>

      <h2>
        Acerca de mi:
        <mat-card-subtitle
          ><strong>{{ profile.acercade }}</strong></mat-card-subtitle
        >
      </h2>
    </mat-card>
  </div>
</div>
