<h1 mat-dialog-title>Iniciar Sesión</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Nombre de Usuario</mat-label>
    <input
      matInput
      #input
      class="form-control"
      placeholder="Username"
      name="username"
      required
    />
    <mat-error *ngIf="formControl.invalid">{{ getError() }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Contraseña</mat-label>
    <input
      matInput
      #input
      class="form-control"
      placeholder="Password"
      name="password"
      required
    />
    <mat-error *ngIf="formControl.invalid">{{ getError() }}</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
    Loguearse
  </button>
</div>
