<div class="center pos">
  <div class="background">
    <mat-card class="bio">
      <img src="{{ profile.avatar_url }}" class="avatar" />

      <mat-card-header>
        <mat-card-title>{{ profile.login }}</mat-card-title>
        <mat-card-subtitle>{{ profile.bio }}</mat-card-subtitle>
      </mat-card-header>

      <mat-list>
        <mat-list-item *ngIf="">vivo en {{ profile.location }}</mat-list-item>
        <mat-list-item *ngIf="">Contactame a {{ profile.email }}</mat-list-item>
        <mat-list-item *ngIf="">Trabajo en {{ profile.company }}</mat-list-item>
      </mat-list>

      <mat-divider></mat-divider>

      <h3>
        Miembro de Github desde:
        <strong>{{ profile.created_at | date: "EEEE, dd/MM/yyyy" }}</strong>
      </h3>

      <mat-card-content>
        <mat-icon>code</mat-icon>
      </mat-card-content>

      <mat-chip-list>
        <mat-chip color="primary" selected
          >{{ profile.public_repos }} Public Repos</mat-chip
        >
        <mat-chip color="accent" selected
          >{{ profile.public_gist }} Public Gist</mat-chip
        >
        <mat-chip color="accent" selected
          >{{ profile.followers }} Followers</mat-chip
        >
        <mat-chip color="accent" selected
          >{{ profile.following }} Following</mat-chip
        >
      </mat-chip-list>
    </mat-card>
  </div>

  <app-projectsgithub></app-projectsgithub>
</div>
