<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span>PORTFOLIO DE JUAN GERARDO ROMERO URO</span>
  <span class="spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <a
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    href="#projects"
  >
    <mat-icon>share</mat-icon>
  </a>
  <!-- <a mat-button [routerLink]="login">Mi perfil</a> -->
  <button mat-button *ngIf="!authService.isLoggedIn" (click)="irLogin()">
    Login
  </button>
  <div class="submit" *ngIf="authService.isLoggedIn">
    <button type="submit" class="btn clr-btn" (click)="logout()">
      Cerrar Sesion
    </button>
  </div>
</mat-toolbar>
