<mat-toolbar color="primary">
  <div>
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
  </div>

  <span>PORTFOLIO DE JUAN GERARDO ROMERO URO</span>
  <span class="spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <a
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    href="#projects"
  >
    <mat-icon>share</mat-icon>
  </a>
  <!-- <a mat-button [routerLink]="login">Mi perfil</a> -->
  <button mat-button *ngIf="!authService.isLoggedIn" (click)="irLogin()">
    Login
  </button>
  <button mat-button *ngIf="authService.isLoggedIn" (click)="logout()">
    Cerrar Sesion
  </button>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav="matSidenav" fxLayout="column" closed="true">
    <div fxLayout="column">
      <a mat-button class="menu-button" href="#profile">
        <mat-icon class="fab fa-instagram">account_circle</mat-icon>
        <span>homepage</span>
      </a>

      <mat-divider></mat-divider>
      <div fxLayout="column">
        <a
          mat-button
          class="menu-button"
          aria-label="Example icon-button with share icon"
          href="#projects"
        >
          <mat-icon>share</mat-icon><span>Proyectos</span>
        </a>
      </div>

      <mat-divider></mat-divider>
      <div fxLayout="column">
        <a
          mat-button
          class="menu-button"
          aria-label="Example icon-button with share icon"
          href="#habilidad"
        >
          <mat-icon>share</mat-icon><span>Habilidades</span>
        </a>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
