<h1 mat-dialog-title>Editar Proyecto</h1>
<div mat-dialog-content align="center" [formGroup]="form">
  <mat-form-field appearance="fill">
    <!--Nombre del proyecto-->
    <mat-label>Nombre del Proyecto</mat-label>
    <input
      matInput
      #input
      placeholder="Nombre del Proyecto"
      [(ngModel)]="data.proyecto"
      name="proyecto"
      formControlName="proyecto"
      required
    />
    <mat-error>
      <span *ngIf="form.get('proyecto')?.invalid" class="error"
        >El nombre del Proyecto es requerido
      </span>
      <span *ngIf="form.get('proyecto')?.hasError('maxlength')" class="error"
        >El nombre no debe superar los 40 caracteres
      </span>
    </mat-error>
  </mat-form-field>
  <!--Título-->
  <mat-form-field appearance="fill">
    <mat-label>Tecnología</mat-label>
    <input
      matInput
      #input
      placeholder="Tecnología"
      [(ngModel)]="data.tecnologia"
      name="tecnologia"
      formControlName="tecnologia"
      required
    />
    <mat-error>
      <span *ngIf="form.get('tecnologia')?.invalid" class="error"
        >La tecnologia es requerida
      </span>
      <span *ngIf="form.get('tecnologia')?.hasError('maxlength')" class="error"
        >Tecnología no debe superar los 40 caracteres
      </span>
    </mat-error>
  </mat-form-field>
  <!--Link Repositorio-->
  <mat-form-field appearance="fill">
    <mat-label>Link Repositorio</mat-label>
    <input
      matInput
      #input
      placeholder="Link Repositorio"
      [(ngModel)]="data.linkrepositorio"
      name="linkrepositorio"
      formControlName="linkrepositorio"
      required
    />
    <mat-error>
      <span *ngIf="form.get('linkrepositorio')?.invalid" class="error"
        >El link del repositorio es Requerido.
      </span>
      <span
        *ngIf="form.get('linkrepositorio')?.hasError('maxlength')"
        class="error"
        >No debe superar los 254 caracteres
      </span>
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button
    [disabled]="form.invalid"
    mat-button
    [mat-dialog-close]="data"
    cdkFocusInitial
  >
    Modificar
  </button>
</div>
