.terminal {
  position: relative;
  text-align: left;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 30px;
  padding-left: 20px;
  margin: 10px auto;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
  color: #c2c3c4 !important;
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4 !important;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}
